html,body{

    margin: 0;
    padding: 0;
    font-family: sans-serif;    
    width: 100%;
    scroll-behavior: smooth;
}
html{
    
    background-color: rgb(29, 29, 29);

}
body{
    background-color: rgb(22, 22, 22);
    
    height: auto;
   

}
.volando{
    position: absolute;
    height: 100%;
    width: 50%;    
}
.clip_a{
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    left: 0;

}
.clip_b{
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    left: 50%;

}
.modalbutton{
    position: fixed;
    right: 10px;
    top: 10px;
    height: 60px;
    width: 60px;
    z-index: 600;
    cursor: pointer;
    transition: 0.25s

}
.modalbutton:hover{
    transform: scale(1.1,1.1);
    transition: 0.25s

}
.modalicon{
    height: 60px;
    width: 60px;

}

.videocontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: black;
}
.pulpito{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20vh;
    margin: 0;
    padding: 0;
    display: none;
    transform: translate(-20px,0px);
    opacity: 0;
    transition: 0.5s;
    
}
.pulpito:hover{
    opacity: 1;
    transition: 0.5s;
}
.backgrond{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
   
    
}
.backgrond2{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 799;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(19, 19, 19, 0.685);
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.bg{    
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.cliped{
    clip-path: polygon(50% 0%, 100% 0%, 50% 100%, 0% 100%);

}
.myheader,.foooter, .container,.projects{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;  
    align-items: center;
    flex-wrap: wrap;   
    
}
.foooter{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
    
}
.foooter > p{
    line-height: 20px;
    height: 34px;
    padding: 0;
    margin: 0;
    font-size: 1em;

}
.maincontainer{    
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 801;
    display: flex;
    flex-direction: column;
    
    
}
.mainpageheader{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;  
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex-wrap: wrap;
}
.basicsection{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;  
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex-wrap: wrap;
}
.paravelium{
    right:-75%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: left;
    justify-content: center;
    text-align: center;  
    align-items: center;
    height: 100%;
    width: 75%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex-wrap: wrap;
    transition: 0.25s;
    z-index: 500;
    
}
.modalitem{
    height: 60px;
    width: 100%;
    background-color: rgba(240, 248, 255, 0);
    cursor: pointer;
    transition: 0.5s;
    text-align: left;
    
}
.modalitem:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.5s;

}
.modalitem > h4{
    color: rgb(255, 255, 255);
    transition: 0.5s;
    display: block;
    padding-left: 20%; 

}
.modalitem:hover > h4{
    color: rgba(29, 29, 29, 0.897);
    transition: 0.5s;

}
.modalshow{
    right: 0;
    transition: 0.25s;

}
.p{
    text-decoration: none;
}
.orange{
    background-color: rgb(19, 147, 197);
    color: white;
}
.gray{
    background-color: rgb(202, 202, 202);
    clip-path: polygon(50% 0%, 100% 0%, 50% 100%, 0% 100%);
}
.grey{
    background-color: rgb(24, 24, 24);
    color: rgb(0, 0, 0);
}
.white{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.black{
    background-color: rgb(32, 32, 32);
    color: white;
}
.blue{
    background-color: rgb(0, 162, 255);
    color: white;
    font-weight: bold;
}
.red{
    background-color: rgb(216, 14, 14);
    color: white;
    font-weight: bold;
}
.redish{
    background-color: rgb(180, 28, 8);
    color: white;
    font-weight: bold;
}
.title{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: auto;
    max-height: 20vh;
    min-height: 150px;
    
    justify-content: center;
    align-content: right;
    text-align: center;
   
}
.titleh{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: auto;
    max-height: 20vh;
    min-height: 150px;
    justify-content: center;
    text-align: left;
    
}
.pading{
    padding-left: 10px;
}
.container{
    height: 50vh;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 50vh;
    overflow: hidden;
    

}
.myheader,.foooter{
    
    height: auto;
    max-height: 20vh;
    min-height: 150px;
    background-color: rgb(223, 223, 223);
}

.gradientsilver{
    background: rgb(156,156,156);
    background: linear-gradient(56deg, rgba(156,156,156,1) 0%, rgba(177,177,177,1) 13%, rgba(199,199,199,1) 81%, rgba(223,223,223,1) 100%);

}
.iconholder,.icon{
    height: auto;
    max-height: 20vh;
    min-height: 150px;

}
.projects{
    height: 10vh;
    width: 100vw;
    padding: 0;
    margin: 0;

}

.smallicon{
    height: 10vh;
    height: 10vh;

}
.animated{
    
    transform: scale(1);
    padding-left: 40px;
    padding-right: 40px;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0);
}
.animated:hover{
    cursor: pointer;
    transform: scale(1.5);    
    transition: 0.5s;
}
a{
    text-decoration: none;
    
}
.mainsubtitle{
    font-size: 1em;
    

}
.rounded{
    clip-path: circle(50% at 50% 50%);
    
}
@media only screen and (max-width: 1000px) {
    
    .clip_a{
        clip-path: polygon(0 0, 0 100%,50% 100%);
        left: 0;

    }
    .clip_b{
        clip-path: polygon(50% 0, 100% 100%, 100% 0);
        left: 50%;

    }
    .maintitle{
        font-size: 1.8em;
        line-height: 1.5em;
        padding: 0;
        margin: 0;

    }
    .mainsubtitle{
        font-size: 0.9em;
        padding: 0;
        margin: 0;

    }
    .title, .titleh{
        width: 80vw;
        height: 15vh;        
        text-align: center;        
        display: block;
        
        
         
    }
    .myheader{
       
        height: auto;
        max-height: 80vh;
        min-height: 80vh;   
        flex-direction: column;
        
    }
    .icon,.iconholder{        
        height: auto;
        max-height: 50vh;
        min-height: 50vh;  
        width: 50vh;

    }
    .smallicon{
        height: 20vh;
        width: 20vh;

    }
    .projects{
        flex-wrap: wrap;
    }
    .animated{
        height: 10vw;
        width: 10vw;

    }
    .animated{
    
        transform: scale(1);
        padding-left: 5vw;
        padding-right: 5vw;
        transition: 0.5s;
        background-color: rgba(0, 0, 0, 0);
    }
    .container{
        height: 70vh;
    }
    .mainpageheader{
        height: 100vh;
    }
    .paravelium{
        height: 100%;
        justify-content: center;
        
        
    
    }
    .gray{
        clip-path: inset(0 0 0 0);
    }
    .cliped{
        clip-path: inset(0 0 0 0);

    }
}

@media only screen and ( max-aspect-ratio: 1/1 ){
    .paravelium{
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        align-items: center;
        justify-content: center;
        
    
    }
    .maintitle{
        font-size: 1.8em;
        line-height: 1.5em;
        padding: 0;
        margin: 0;

    }
    .mainsubtitle{
        font-size: 0.9em;
        padding: 0;
        margin: 0;

    }
    .title, .titleh{
        width: 80vw;
        height: 15vh;        
        text-align: center;        
        display: block;
        
        
         
    }
    .myheader{
       
        height: auto;
        max-height: 80vh;
        min-height: 80vh;      
        flex-direction: column;
        
        

    }
    .icon,.iconholder{        
        height: auto;
        max-height: 20vh;
        min-height: 20vh;  
        width: 20vh;

    }
    .smallicon{
        height: 20vw;
        width: 20vw;

    }
    .projects{
        flex-wrap: wrap;
    }
    .animated{
        height: 20vw;
        width: 20vw;

    }
    .animated{
    
        transform: scale(1);
        padding-left: 5px;
        padding-right: 5px;
        transition: 0.5s;
        background-color: rgba(0, 0, 0, 0);
    }
    .container,.mainpageheader{
        height: 100vh;
    }
    .gray{
        clip-path: inset(0 0 0 0);
    }
    .cliped{
        clip-path: inset(0 0 0 0);

    }

}
@media only screen and ( orientation:portrait ) {
    .maintitle{
        font-size: 1.8em;
        line-height: 1.5em;
        padding: 0;
        margin: 0;

    }
    .mainsubtitle{
        font-size: 0.9em;
        padding: 0;
        margin: 0;
        width: 60vw;
        

    }
    .title, .titleh{
        width: 80vw;
        height: 15vh;        
        text-align: center;  
        align-items: center;      
        display: flex;
        justify-content: center;
        
        
         
    }
    .myheader{
       
        height: auto;
        max-height: 70vh;
        min-height: 70vh;   
        flex-direction: column;
        

    }
    .icon,.iconholder{        
        height: auto;
        max-height: 40vh;
        min-height: 40vh;  
        width: 40vh;

    }
    .smallicon{
        height: 30vw;
        width: 30vw;

    }
    .projects{
        flex-wrap: wrap;
    }
    .animated{
        height: 20vw;
        width: 20vw;

    }
    .paravelium{
        
        height: 100vh;
        width: 50vw;
        flex-direction: column;
        align-content: center;
        text-align: center;
        align-items: center;
        justify-content: center;
        
        
        
    
    }
    .animated{
    
        transform: scale(1);
        padding-left: 5px;
        padding-right: 5px;
        transition: 0.5s;
        background-color: rgba(0, 0, 0, 0);
    }
    .container{
        height: 70vh;
    }
    .mainpageheader{
        height: 100vh;

    }
    .gray{
        clip-path: inset(0 0 0 0);
    }
    .backgrond2,.bg{
        width: 200%;
        height: 100%;
        position: absolute;
        left: -50%;
    }
    .cliped{
        clip-path: inset(0 0 0 0);

    }
    .basicsection>h2{
        width: 60vw;

    }
    
}
